*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Quicksand', sans-serif;   
    line-height: 1.5;
}
h1{
    color:black;
    font-size: 30pt;
    font-family: 'Roboto', sans-serif;
    letter-spacing:1px;
}
h2{
    color:black;
    margin-bottom:1%;
    font-family: 'Roboto', sans-serif;
    letter-spacing:1px;
}
h3{
    color: #838181;
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic; 
}
.logo{
    height:110px;
}
button{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing:1px;
}
.headline{
    background-color: #418aad;
    width:100%;
    height: 2px;
}
header{
   position:relative;
}
.headerbild{
    background-image: url(img/patientenraum1.jpg);
    Filter: brightness(0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center; 
    width:100%;
    height: 550px;
}
header button {
    text-transform:uppercase;
    font-size: 16pt;
    font-weight: bold;
    background-color:white;
    color:  #418aad;
    padding: 1%;
    margin:3%;
    margin-bottom: 40px;
    margin-left: 5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.headertext{
    Filter: brightness(1);
    width:60%;
    position: absolute;
    top: 40px;
    left: 16px;
}
header h1{
    color:white;
    padding: 5%;
}
nav{
    display: flex;
    flex-wrap: wrap;
}
.navlink{
    flex: 1 1 auto;
    color: #838181;
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    transition: 0.15s;
}
.navlink:hover{
    background-color: rgb(110, 158, 186, 0.2);
}
.spaceholder{
    flex: 10;
    padding: 1.5%;
}
.infoboxes{
    display:flex;
    flex-wrap: wrap;
}
.infoboxes h2{
    border-bottom: 2px solid #418aad;
}
.box{
    flex: 1 1 auto;
    padding:4%;
    color: #838181;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 280px;
}
.bildundinfo{
    display:flex;
    padding:2%;
    flex-wrap: wrap;
}
.bildstartseite{
    background-image: url(img/empfang.jpg);
    flex: 1 1 auto;
    margin: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    height:450px;
    min-width:50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-grow:1;
    background-position:center;
}
.box2{
    flex: 1 1 auto;
    margin:auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 280px;
}
button {
    text-transform:uppercase;
    font-size: 16pt;
    font-weight: bold;
    background-color: #418aad;
    color:  white;
    padding: 1%;
    margin:3%;
    margin-bottom: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}  
footer{
    background-color: #39bdd4;
    width:100%;
    height: 200px;
    display:flex;
    flex-wrap: wrap;
}
.footbox{
    flex: 0 1 auto;
    color: white;
    min-width:15%;
    font-size:11pt;
    padding:3%;
    padding-left:5%;
    line-height: 150%;
}
.footlink{
    color: white;
    text-decoration:none;
    transition: 0.15s;
}
.footlink:hover{
    color: lightgrey;
}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 120; 
    border: none; 
    outline: none; 
    background-color: rgb(139, 139, 139, 0.4); 
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
    transition: 0.15s;
  }
  
  #myBtn:hover {
    background-color:  rgb(139, 139, 139); 
  }
/*Zweite Seite: Über uns-------------------------------------------------------------------------------------------------------------------------------------*/
.unternav{
    display:flex; 
    justify-content:center;
    background-color: rgb(110, 158, 186, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.unternav a{
    flex: 0 1 auto;
    padding: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    color: #838181;
    text-align: center;
    transition: 0.15s;
}
.unternav a:hover{
    background-color: #418aad;
    color: white;
}
#team{
    margin-bottom:5%;
}
#team p{
    max-width: 1000px;
    padding:5%; 
}
#team h1{
    color:white;
}
#philosophie{
    height:400px;
    background-color: #3cc0c5;
}
#philosophie p{
    color:white;
    max-width: 1000px;
    padding-left:5%;
    padding-right:5%;
}
#philosophie h1{
    color:white;
    padding-bottom:2%;
    padding-left:5%;
    padding-top:5%;
    font-size: 30pt;  
}
#anlage{
    padding-bottom:5%;
}
#anlage h1, #team h1 {
    font-size: 30pt;
    padding-bottom:2%;
    padding-left:5%;
    padding-top:5%;
}
.bildteam{
    background-image: url(img/team/Team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:800px;
    width:100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position:top;
}
.portraitcontainer{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items:flex-start;
    align-content: center;
}
.portrait{
    flex: 0 1 auto;
    margin: 0.5vw;
}
.bild{
    max-width:300px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*dritte Seite: Unsere Arbeit-------------------------------------------------------------------------------------------------------------------------------------*/
#vollkeramik, #metallkeramik, #oxidkeramik{
    padding-bottom:5%;
}
#implantate{
    padding-bottom:5%;
}
#vollkeramik h1, #metallkeramik h1, #oxidkeramik h1, #implantate h1 {
    font-size: 30pt;
    padding-bottom:2%;
    padding-left:5%;
    padding-top:5%; 
}
.slideundtext{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color:  rgb(110, 158, 186, 0.2);
}
.beschreibung{
    
    height: 400px;
    width:50%;
    min-width:400px;
    flex: 0 1 auto;
    margin: auto;
    padding: 5%;
    line-height: 1.5;
}
.beschreibung h2{
    color:#418aad;
}
/*Slideshow Quelle:w3schools--------------------------------------------------------------------*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}
.slideshow-container2 {
    flex: 0 1 auto;
    width: 50%;
    min-width:400px;
    position: relative;
    margin: auto;
  }
.slideshow-container img{
    height:700px;
    object-fit: cover;
}
.slideshow-container2 img{
    height:400px;
    object-fit: cover;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides1 {
    display: none;
}
.mySlides2, .mySlides3, .mySlides4 {
    display: none;
}
.vergleichrechts{
    cursor: pointer;
    position: absolute;
    top: 5.5%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}  
.vergleichrechts:hover{ 
    background-color: lightslategray;
    transition: 0.2s;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  text-shadow: 8px 0px #000000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  text-shadow: 2px 0px #818181;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*Slideshowende------------------------------------------------------------------------*/
/*vierte Seite Kontakt--------------------------------------------------------------------------------------------------------------------------------------*/

#kontakt, #kurse, #fachartikel{
    height:400px;
}
#kontakt h1, #kurse h1, #fachartikel h1{
    font-size: 30pt;
    padding-bottom:2%;
    padding-left:5%;
    padding-top:5%;
}
