*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Quicksand', sans-serif;   
    line-height: 1.5;
}
h1{
    color:black;
    font-size: 30pt;
    font-family: 'Roboto', sans-serif;
    letter-spacing:1px;
}
h2{
    color:black;
    margin-bottom:1%;
    font-family: 'Roboto', sans-serif;
    letter-spacing:1px;
}
h3{
    color: #838181;
    padding-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic; 
}
.firstletter{
    font-size: 30pt;
    color:#418aad;
    font-family: 'Dancing Script', sans-serif;
    letter-spacing:1px;
    line-height:40px;
}
.hervorhebung2{
    font-weight:bold;
}
a{
    color:#418aad;
}
.logo{
    height:125px;
}
button{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing:1px;
}
.headline{
    background-color: #418aad;
    width:100%;
    height: 2px;
}
header{
   position:relative;
}
.headerbild{
    background-image: url(img/patientenraum1.jpg);
    Filter: brightness(0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center; 
    width:100%;
    height: 550px;
}
.buttonheader {
    text-transform:uppercase;
    font-size: 16pt;
    font-weight: bold;
    background-color:white;
    color:  #418aad;
    padding: 3%;
    margin:2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.headertext{
    Filter: brightness(1);
    width:30%;
    position: absolute;
    bottom: 40px;
    left: 10px;
    
}
header h1{
    color:white;
    padding: 5%;
    margin-bottom: 5%;
}
nav{
    display: flex;
    flex-wrap: wrap;
}
.navlink{
    flex: 1 1 auto;
    color: #838181;
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 3%;
    text-align: center;
    transition: 0.15s;
}
.navlink:hover{
    background-color: rgb(110, 158, 186, 0.2);
}
.spaceholder{
    flex: 10;
    padding: 1.5%;
}
.infoboxes{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
}
.infoboxes h2{
    border-bottom: 2px solid #418aad;
}
.box{
    flex: 1 1 auto;
    padding:4%;
    color: #838181;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 280px;
    max-width:500px;
}
.bildundinfo{
    display:flex;
    padding:2%;
    flex-wrap: wrap;
}
.bildstartseite{
    background-image: url(img/empfang.jpg);
    flex: 1 1 auto;
    margin: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    height:450px;
    min-width:50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-grow:1;
    background-position:center;
}
.box2{
    flex: 1 1 auto;
    margin:auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 280px;
}
button {
    text-transform:uppercase;
    font-size: 16pt;
    font-weight: bold;
    background-color: #418aad;
    color:  white;
    padding: 1%;
    margin:3%;
    margin-bottom: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}  
footer{
    background-color: #39bdd4;
    width:100%;
    min-height: 200px;
    display:flex;
    flex-wrap: wrap;
}
.footbox{
    flex: 0 1 auto;
    color: white;
    min-width:15%;
    font-size:11pt;
    padding:3%;
    padding-left:5%;
    line-height: 150%;
}
.footlink{
    color: white;
    text-decoration:none;
    transition: 0.15s;
}
.footlink:hover{
    color: lightgrey;
}
.facebook{
    height:100px;
}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 0;
    right: 0; 
    z-index: 120; 
    border: none; 
    outline: none; 
    background-color: rgb(139, 139, 139, 0.4); 
    color: white;
    cursor: pointer; 
    padding: 1vw; 
    border-radius: 10px; 
    font-size: 18px; 
    transition: 0.15s;
    margin: 2%;
    margin-right:1%;
  }
  
  #myBtn:hover {
    background-color:  rgb(139, 139, 139); 
  }
/*Zweite Seite: Über uns-------------------------------------------------------------------------------------------------------------------------------------*/
.unternav{
    display:flex; 
    justify-content:center;
    background-color: rgb(110, 158, 186, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.unternav a{
    flex: 0 1 auto;
    padding: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    color: #838181;
    text-align: center;
    transition: 0.15s;
}
.unternav a:hover{
    background-color: #418aad;
    color: white;
}
#team{
    margin-bottom:5%;
}
#team p{
    max-width: 1000px;
    padding:5%; 
}
#team h1{
    color:white;
}
#philosophie{
    background-color: #39bdd4;
}
#philosophie p{
    color:white;
    max-width: 1000px;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
}
#philosophie h1{
    color:white;
    padding-bottom:2%;
    padding-left:5%;
    padding-top:5%;  
}
#anlage{
    padding-bottom:5%;
}
#anlage h1, #team h1, #fachartikel h1{
    padding-bottom:2%;
    padding-left:5%;
    padding-top:5%;
}
#kurse{
    background-color: #39bdd4;
    
}
#fachartikel{
    margin-bottom: 5%;
}
#kurse p, #fachartikel p{
    color:white;
    max-width: 1000px;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
}
#kurse h1{
    color:white;
    padding-bottom:2%;
    padding-left:5%;
    padding-top:5%;  
}
.pdfview{
    height:600px;
    width: 100%;
}
.pdfdownloads{
    min-width: 100%;
    max-width: 1000px;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
}
.bildteam{
    background-image: url(img/team/Team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:800px;
    width:100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position:top;
}
.portraitcontainer{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items:flex-start;
    align-content: center;
}
.portrait{
    flex: 0 1 auto;
    margin: 0.5vw;
    flex-basis:20%;
}
.bild{
    max-width:300px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*dritte Seite: Unsere Arbeit-------------------------------------------------------------------------------------------------------------------------------------*/
#vollkeramik, #metallkeramik, #oxidkeramik{
    padding-bottom:5%;
}
#implantate{
    padding-bottom:5%;
}
#vollkeramik h1, #metallkeramik h1, #oxidkeramik h1, #implantate h1 {
    padding-bottom:2%;
    padding-left:5%;
    padding-top:5%; 
}
.slideundtext{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color:  rgb(110, 158, 186, 0.2);
}
.beschreibung{
    
    height: 400px;
    width:50%;
    min-width:400px;
    flex: 0 1 auto;
    margin: auto;
    padding: 5%;
    line-height: 1.5;
}
.beschreibung h2{
    color:#418aad;
}
/*Slideshow Quelle:w3schools--------------------------------------------------------------------*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}
.slideshow-container2 {
    flex: 0 1 auto;
    width: 50%;
    min-width:400px;
    position: relative;
    margin: auto;
  }
.slideshow-container img{
    height:700px;
    object-fit: cover;
}
.slideshow-container2 img{
    height:400px;
    object-fit: cover;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides1 {
    display: none;
}
.mySlides2, .mySlides3, .mySlides4 {
    display: none;
}
.vergleichrechts{
    cursor: pointer;
    position: absolute;
    top: 5.5%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}  
.vergleichrechts:hover{ 
    background-color: lightslategray;
    transition: 0.2s;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  text-shadow: 8px 0px #000000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #ffffff;
  text-shadow: 3px 3px #525151;
  font-size: 32px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  text-shadow: 2px 0px ;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.1);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .9}
  to {opacity: 1}
}
/*Slideshowende------------------------------------------------------------------------*/
/*vierte Seite Kontakt--------------------------------------------------------------------------------------------------------------------------------------*/
address{
    font-style:normal;
    max-width: 800px;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
    color:#418aad;
}
address a{
    text-decoration:none;
    color: #418aad;
    text-decoration: underline;
}
.hervorhebung{
    font-size: 20pt;
    color:#418aad;
    margin-bottom:1%;
    
    letter-spacing:1px;
}
#kontakt{
    display:flex;
    flex:wrap;
    margin:5%;
}
#kontakt h1{
    padding-bottom:2%;
    padding-left:5%;
    padding-top:5%;
}
#kontakt p{
    max-width: 800px;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
}
.kontakttext{
    flex: 0 1 auto;
    width: 500px;
    margin-right:5%;
}
.kontaktbild{
    flex: 0 1 auto;
    background-image: url(img/team/Rezeption.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    width:60%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position:right;
}
/*vierte Seite Karriere----------------------------------------------------------------------------------------------------------------------*/
#karriere{
    display:flex;
    flex:wrap;
    margin:5%;
}
#karriere h1{
    padding-bottom:2%;
    padding-left:5%;
    padding-top:5%;
}
#karriere p{
    max-width: 800px;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
}
.karrieretext{
    flex: 0 1 auto;
    width: 500px;
    margin-right:5%;
}
.karrierebild{
    flex: 0 1 auto;
    background-image: url(img/team/team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    width:60%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position:right;
}
/*Für Handyscreens---------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
    *{
        font-size: 10pt;
    }
    h1{
        font-size: 20pt;
    }
    h2{
        font-size: 15pt;
    }
    button{
        font-size:13pt;
    }
    header button{
        font-size:13pt;
        padding:2%;
    }
    .navlink{
        flex: 1 1 450px;
    }
    .unternav{
        height: 40px;
    }
    .unternav a{
        padding:2%;
    }
    inhaltsboxen{
        max-width:600px;
    }
    main{
        margin: 0 auto;
    }
    .bildteam{
        background-size: contain;
        height: 500px;
        max-height:50vh; 
        box-shadow: 0 0px 0px 0, 0 0px 0px 0;
    }
    #team h1{
        padding-top: 200px;
    }
    .kontaktbild{
        display:none;
    }
    .footbox{
        min-width:50%;
        font-size:9pt;
    }
    
  }